@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Abp.Json;
@using RegistrovanjeIncidenata.Utility
@using RegistrovanjeIncidenata.Models.ViewModels;
@using RegistrovanjeIncidenata.Models;
@model IncidentVM
<h1>Detalji o incidentu</h1>
<label>@Model.Incident.Name</label>

    <br/>




<label>Opis incidenta: @Html.Raw(RegistrovanjeIncidenata.Utility.StringUtility.StripPTags(Model.Incident.Description))</label>
</br>
<label>
    Datum kada se desio incident:
    <script>
        var date = new Date("@Model.Incident.dateIncident");
        var formattedDate = ("0" + date.getDate()).slice(-2) + "/" + ("0" + (date.getMonth() + 1)).slice(-2) + "/" + date.getFullYear();
        document.write(formattedDate);
    </script>
</label>
</br>
<label>Broj povrijeđenih osoba u incidentu: @Model.Incident.InjuredPeopleCount</label>
</br>
<label>Broj poginulih osoba u incidentu: @Model.Incident.DeadPeopleCount</label>
</br>
<label>Vrsta incidenta: @Model.Incident.IncidentType.Name</label>
</br>
<label>Opština u kojoj se desio incident: @Model.Incident.Municipalitie.Name</label>
</br>
<label>Adresa na kojoj se desio incident: @Model.Incident.IncidentAddress</label>
</br>
@foreach (IncidentImage slika in Model.Incident.IncidentImages)
{
    <img src="@slika.ImageUrl" style="height:100px; width:100px;">
}
