@using RegistrovanjeIncidenata.Models;
@model IEnumerable<Municipalitie>
<h2>Lista opština</h2>
<a asp-controller="Municipalitie" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square-fill"></i>  Dodaj novu opštinu</a>

<div class="row pb-3">
    @foreach(var municipalitie in Model)
    {
        <div class="col-lg-3 col-sm-6">
           <div class="p-2">
                <div class="card border-0 p-3 shadow border-top border-5 rounded" style="flex-direction:column;justify-content:space-between;height:500px">
                    <div class="card-header imageContainer" style="height:50%;justify-content:center">
                        <img src="@municipalitie.UrlImage" class="card-img-top rounded img-fluid" alt="prikaz slike">
                    </div>
                    <div class="card-body pb-0" style="height:30%;display:flex;flex-direction:column;justify-content:center">
                        <div class="pl-1">
                            <p class="card-title h5 opacity-75 text-uppercase text-center">@municipalitie.Name</p>
                            <p class="card-title text-center">@municipalitie.Address</p>
                        </div>
                        </div>
                        <div class="card-footer" style="height:20%">
                        <div class="row" style="padding:5px">
                            <a asp-route-id="@municipalitie.Id" asp-controller="Municipalitie" asp-action="Edit" class="btn btn-secondary"><i class="bi bi-pen-fill"></i> Uredi</a>
                        </div>
                        <div class="row" style="padding:5px">
                            <a asp-route-id="@municipalitie.Id" asp-controller="Municipalitie" asp-action="Delete" class="btn btn-secondary"><i class="bi bi-trash3-fill"></i> Obriši</a>
                        </div>
                        </div>
                </div>
            </div>
            </div>
    }
</div>
